@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  min-height: 100vh;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

main {
  padding: 0 1rem;
}

.container {
  max-width: 20rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 1rem;
}

h2,
p {
  padding: 0 1rem;
  margin: 1rem 0;
}

p {
  color: var(--grayish-blue);
}

footer {
  padding: 0 1rem;
  text-align: center;
  position: absolute;
  bottom: 1%;
}
